$black: black;
$darkgray: darkgray;
$coral: coral;
$yellow: yellow;
$tan: burlywood;


/*Fonts*/

$robot: 'Roboto Slab', serif;
$poppins: 'Poppins', sans-serif;
$arimo: 'Arimo', sans-serif;
$round: 'Varela Round', sans-serif;
