<article>
	<h2 id="contactHeader">How to Contact Me</h2>
	<div id="container">
    <div class="row contact">
      <div class="col-md-1 col-md-offset-1">
        <a href="mailto:kstoops815@gmail.com">
          <img class="socialMedia" src="../images/email.png" alt="Email Kelly Stoops">
        </a>
      </div>
      <div class="col-md-1 col-md-offset-2">
        <a href="https://github.com/kstoops815">
          <img class="socialMedia" src="../images/github4.png" alt="github">
        </a>
      </div>
      <div class="col-md-1 col-md-offset-2">
        <a href="https://twitter.com/stoopdog815" class="twitter">
          <img class="socialMedia" src="../images/twitter.png" alt="twitter image">
        </a>
      </div>
        <div class="col-md-1 col-md-offset-2">
          <a target="_blank" title="find us on Facebook" href="http://www.facebook.com/kelly.s.ward.3"><img class="socialMedia" alt="follow me on facebook" src="//login.create.net/images/icons/user/facebook_30x30.png" border=0></a>
      </div>
    </div>
  </div>
</article>
