/*NAVIGATION BAR*/
nav {
	list-style: none;
	background-color: darksalmon;
	padding: 1%;
	text-align: center;
}

nav li {
	display: inline;
	padding-right: 5%;
}

nav a:hover {
	background-color: lightgreen;
	color: darkgreen;
}

nav a:active {
	padding-left: 5px;
	padding-right: 5px;
}

/*BLOG PAGE*/
.title {
	text-align: center;
	font-size: 1.5em;
}

#blogHolder {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.cards {
	flex-wrap: wrap;
	max-width: 25%;
	border: 3px solid darkgray;
	margin:	2%;
}